
<div class="split left">
        <div class="logo">
            <img style="width: 20%;" src="../../assets/Images/AC.png" />
            
            </div>
            <br>
            <div class="welcome">
               <div>
                 <p style="font-size: 3em;font-weight: bold; display: inline;">Welcome</p> &nbsp;
                 <p style="display: inline; font-size: 3em; font-weight: bold; color: gray;">back</p>
                </div>
            </div>
            <br>
            <br>
            <div class="welcome">
            <div>
                <p style="font-size: 2em;color: gray;">Please login to continue</p>
                <p style="font-size: 2em;color: gray;">using NDIS</p>
               </div>
               </div>

               <br>
               <div class="welcome">
               <form #formControl="ngForm">
                <p>
                  <mat-form-field appearance="outline" style="width: 80%; height: 50px;">
                    <mat-label>Email Address</mat-label>
                    <!-- <input type="text" matInput placeholder="Username" > -->
                    <input matInput #input placeholder="Username" ngModel name="username">
                  </mat-form-field>
                  
                </p>
                <hr style="height:6px; width:80%; border-width:0; color:rgb(67, 186, 233); background-color:rgb(67, 186, 233); position: relative; left: -10%;" />
        <br>
                <p>
                  <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Password</mat-label>
                    <!-- <input type="password" matInput placeholder="Password" > -->
                    <input type="password" matInput #input placeholder="Password" ngModel name="password">
                  </mat-form-field>
                </p>
                <hr style="height:6px; width:80%; border-width:0; color:rgb(67, 186, 233); background-color:rgb(67, 186, 233); position: relative; left: -10%;" />
                
                <p style="font-weight: 600; position: relative; left: 57%; font-size: large;">Forgot the password?</p>
                <br> 
                <div class="button">
                  <!-- <button type="submit" mat-button>Login</button> -->
                  <!-- <button  mat-button style="width: 100%; background-color: #46be8a ; color: #ffffff;">Login</button> -->
                  <button mat-button style="background-color: rgb(67, 186, 233) ;height: 55px;width: 80%; color: #ffffff;" (click) = "Login()" type="submit"
                    >Login</button>
                </div>
        
              </form>
            </div>
  </div>
  
  <div class="split right">
    <div class="v1"></div>
    <div class="text">
        <p style="font-size: xx-large; font-weight: bold; color:yellow;">Managing your workspace</p>
        <p style="font-size: xx-large; font-weight:400; text-align-last: end; color:white;">is now easier than ever</p>
    </div>
    <div class="v2"></div>
  </div>