p {
    font-family: Lato;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position:absolute;
    top: 23%;
    left: 5%;
    width: 70%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  